*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.hero-page{
    background-color: darkgray;
    max-height: 80vh !important;
}

@media screen and (max-width:990px) {
    .bg{
        background-image: linear-gradient(rgba(0, 0, 0, 0.747), rgba(0, 0, 0, 0.774)), url(./assets/IMG_20220509_153704-removebg-preview.png);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        max-height: 100vh !important;
        overflow-y: hidden !important;
    }
}

nav{
    background-color: transparent !important;
}

.content{
    margin-top:-130px !important;
    padding-top: 0px;
    max-height: 70vh !important;
}

body, h1, h2, h3, h4, h5, h6, p{
    font-family: 'Space Grotesk', sans-serif;
}

/*...........
about me 
.............*/

