@media screen and (max-width:990px) {
    .bg{
        background-image: linear-gradient(rgba(0, 0, 0, 0.747), rgba(0, 0, 0, 0.774)), url(./assets/IMG_20220509_153704-removebg-preview.png);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        min-height: 100vh !important;
    }
}

nav{
    background-color: transparent !important;
}

.content{
    margin-top:-150px !important;
    padding-top: 0px;
    height: 70vh !important;
}

.hero-page{
    background-color: darkgray;
}